p {
  font-size: 23px;
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

<<<<<<< HEAD
html {
  background-size: 450px;
  background-color: rgb(255, 233, 231);
}

.bgimg {
  width: 450px;
  margin: -50px;
}
=======
   
body {
    
  
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="quiz.html">Quiz</a>



    text-align: center;
    padding: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    width:600px;
}


.htmls{
    margin-top: -15px;
    font-size:larger;
    
    }
    
    h1{
        font-size: 45px;
        margin: 20px;
        padding: -100px;
        
    }
    
    
    html {
        background: url("img/IMG-0646.JPG")no-repeat center fixed; 
        background-size: 600px;
        margin-top: -15px;
        background-color: rgb( 255, 233, 231);
    }
    
>>>>>>> b66d652b3468ba002485322de0b83596566a538d
