p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    padding: 20px ; 
}

body{
    margin: 40px auto;
    background-color: rgb( 255, 233, 231);
    width: 850px;
    }

    html{
    
    }